@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

html{
    font-family: 'Gloock', serif;
    background: rgb(51, 47, 57);
}

:root {
  color-scheme: light dark;
}
body {
  color: light-dark(#333b3c, #efefec);
}

.container {
  margin-top: -180px;
  text-align: right;
  }

.col-2{
  display: block;
  margin-left:-967px;
  margin-top:40px;
  flex-direction: column;
  width:710px;
  align-items: left;
}

.col-3{
  display: block;
  margin-left:-650px;
  margin-top: -215px;
  flex-direction: column;
  align-items: left;
  width:348px;
}

.col-4{
  display: block;
  margin-left:-490px;
  margin-top: -215px;
  flex-direction: column;
  align-items: left;
  width:348px;
}

.dot {
height: 400px;
width: 400px;
border: 2px solid;
border-radius: 50%;
display: inline-block;
left:200px;
top:200px
}

.circular--portrait {
position: relative; 
width: 300px; 
height: 300px; 
overflow: hidden; 
border-radius: 50%; 
left:50px;
top:-20px;
margin-top:140px;
margin-left:-1040px
} 

.circular--portrait img { width: 100%; height: auto; margin-left:0px; margin-top: -90px;}

h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: "";
  display:inline-block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(206, 88%, 60%);
  z-index: -1;
  transition: transform .3s ease;
}

h1 {
  position: relative;
  font-size: 5rem;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: content-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

h1{
  margin-top:50px;
  left:-100px
}

h2{
  padding: 10px 10px;
  margin-top: -10px;
  margin-left: -980px;
  height:40px;
  width:220px;
}

h2::before {  
  transform: scaleX(0);
  transform-origin: 200%;
}

h2:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h2::before {
  content: "";
  display:inline-block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(297, 65%, 65%);
  z-index: -1;
  transition: transform .3s ease;
  height:60px;
  width:230px;
}

h2 {
  position: relative;
  font-size: 2rem;
  height:130px;
  width: 700px;
}

.border-box{
  margin: 100% 15%;
}




h3{
  padding: 10px 10px;
  margin-top: 140px;
  margin-left: -663px;
  height:200px;
}

h3::before {  
  transform: scaleX(0);
  transform-origin: 120%;
}

h3:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h3::before {
  content: "";
  display:inline-block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(43, 72%, 58%);
  z-index: -1;
  transition: transform .3s ease;
  height:60px;
  width:360px;
}

h3 {
  position: relative;
  font-size: 2rem;
  height:230px;
  width: 370px;
}

h4{
  padding: 10px 10px;
  margin-top: 140px;
  margin-left: 103px;
  height: 400px;
}

h4::before {  
  transform: scaleX(0);
  transform-origin: 120%;
}

h4:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h4::before {
  content: "";
  display:inline-block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(330, 82%, 63%);
  z-index: -1;
  transition: transform .3s ease;
  height:60px;
  width:190px;
}

h4 {
  position: relative;
  font-size: 2rem;
  margin-left:-200px;
  margin-top:-10px
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 50;
  right: 0;
  top: 0;
  background-color: rgb(51, 47, 57);
  opacity: 0.85;
  overflow: hidden;
  width: 455px;
  height:0;
  transition: 0.3s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
  margin-left: -195px
}

.text {
  font-family: 'Raleway'font-style: normal;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}





